In [5]:
import pandas as pd

### Load database
#### Example from 
- https://www.dataquest.io/blog/python-pandas-databases/

In [6]:
import sqlite3 #pymysql <- 설치

conn = sqlite3.connect("./data/flights.db")
cur = conn.cursor()
cur.execute("select * from airlines limit 5;")
results = cur.fetchall()
results

[(0, '1', 'Private flight', '\\N', '-', None, None, None, 'Y'),
 (1, '2', '135 Airways', '\\N', None, 'GNL', 'GENERAL', 'United States', 'N'),
 (2, '3', '1Time Airline', '\\N', '1T', 'RNX', 'NEXTIME', 'South Africa', 'Y'),
 (3,
  '4',
  '2 Sqn No 1 Elementary Flying Training School',
  '\\N',
  None,
  'WYT',
  None,
  'United Kingdom',
  'N'),
 (4, '5', '213 Flight Unit', '\\N', None, 'TFU', None, 'Russia', 'N')]

#### Data loading using pandas from DB

In [7]:
df_airplines = pd.read_sql_query("select * from airlines;", conn)
df_airplines

,index,id,name,alias,iata,icao,callsign,country,active
0,0,1,Private flight,\N,-,None,None,None,Y
1,1,2,135 Airways,\N,None,GNL,GENERAL,United States,N
2,2,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
3,3,4,2 Sqn No 1 Elementary Flying Training School,\N,None,WYT,None,United Kingdom,N
4,4,5,213 Flight Unit,\N,None,TFU,None,Russia,N
5,5,6,223 Flight Unit State Airline,\N,None,CHD,CHKALOVSK-AVIA,Russia,N
6,6,7,224th Flight Unit,\N,None,TTF,CARGO UNIT,Russia,N
7,7,8,247 Jet Ltd,\N,None,TWF,CLOUD RUNNER,United Kingdom,N
8,8,9,3D Aviation,\N,None,SEC,SECUREX,United States,N
9,9,10,40-Mile Air,\N,Q5,MLA,MILE-AIR,United States,Y
10,10,11,4D Air,\N,None,QRT,QUARTET,Thailand,N
11,11,12,611897 Alberta Limited,\N,None,THD,DONUT,Canada,N
12,12,13,Ansett Australia,\N,AN,AAA,ANSETT,Australia,Y
13,13,14,Abacus International,\N,1B,None,None,Singapore,Y
14,14,15,Abelag Aviation,\N,W9,AAB,ABG,Belgium,N
15,15,16,Army Air Corps,\N,None,AAC,ARMYAIR,United Kingdom,N
16,16,17,Aero Aviation Centre Ltd.,\N,None,AAD,SUNRISE,Canada,N
17,17,18,Aero Servicios Ejecutivos Internacionales,\N,None,SII,ASEISA,Mexico,N
18,18,19,Aero Biniza,\N,None,BZS,BINIZA,Mexico,N
19,19,20,Aero Albatros,\N,None,ABM,ALBATROS ESPANA,Spain,N
20,20,21,Aigle Azur,\N,ZI,AAF,AIGLE AZUR,France,Y
21,21,22,Aloha Airlines,\N,AQ,AAH,ALOHA,United States,Y
22,22,23,Alaska Island Air,\N,None,AAK,ALASKA ISLAND,United States,N
23,23,24,American Airlines,\N,AA,AAL,AMERICAN,United States,Y
24,24,25,Aviation Management Corporation,\N,None,AAM,AM CORP,United States,N
25,25,26,Atlantis Airlines (USA),\N,None,AAO,ATLANTIS AIR,United States,N
26,26,27,Aerovista Airlines,\N,None,AAP,AEROVISTA GROUP,United Arab Emirates,N
27,27,28,Asiana Airlines,\N,OZ,AAR,ASIANA,Republic of Korea,Y
28,28,29,Askari Aviation,\N,4K,AAS,AL-AAS,Pakistan,Y
29,29,30,Australia Asia Airlines,\N,None,AAU,AUSTASIA,Australia,N
...,...,...,...,...,...,...,...,...,...
6018,6018,19651,CARICOM AIRWAYS (BARBADOS) INC.,CARICOM AIRWAYS,None,CCB,None,Barbados,Y
6019,6019,19674,Rainbow Air (RAI),Rainbow Air (RAI),RN,RAB,Rainbow,United States,Y
6020,6020,19675,Rainbow Air Canada,Rainbow Air CAN,RY,RAY,Rainbow CAN,Canada,Y
6021,6021,19676,Rainbow Air Polynesia,Rainbow Air POL,RX,RPO,Rainbow Air,United States,Y
6022,6022,19677,Rainbow Air Euro,Rainbow Air EU,RU,RUE,Rainbow Air,United Kingdom,Y
6023,6023,19678,Rainbow Air US,Rainbow Air US,RM,RNY,Rainbow Air,United States,Y
6024,6024,19745,Transilvania,None,None,TNS,None,Romania,Y
6025,6025,19751,Dobrolet,Добролёт,QD,DOB,DOBROLET,Russia,Y
6026,6026,19774,Spike Airlines,Aero Spike,S0,SAL,Spike Air,United States,Y
6027,6027,19776,Grand Cru Airlines,None,None,GCA,None,Lithuania,Y
6028,6028,19785,Go2Sky,None,None,RLX,RELAX,Slovakia,Y
6029,6029,19803,All Argentina,All Argentina,L1,AL1,None,Argentina,Y
6030,6030,19804,All America,All America,A2,AL2,None,United States,Y
6031,6031,19805,All Asia,All Asia,L9,AL3,None,China,Y
6032,6032,19806,All Africa,All Africa,9A,99F,None,South Africa,Y
6033,6033,19807,Regionalia México,Regionalia México,N4,J88,None,Mexico,Y
6034,6034,19808,All Europe,All Europe,N9,N99,None,United Kingdom,Y
6035,6035,19809,All Spain,All Spain,N7,N77,None,Spain,Y
6036,6036,19810,Regional Air Iceland,Regional Air Iceland,9N,N78,None,Iceland,Y
6037,6037,19811,British Air Ferries,None,??,??!,None,United Kingdom,N
6038,6038,19812,Voestar,Voestar Brasil,8K,K88,None,Brazil,Y
6039,6039,19813,All Colombia,All Colombia,7O,7KK,None,Colombia,Y
6040,6040,19814,Regionalia Uruguay,Regionalia Uruguay,2X,2K2,None,Uruguay,Y
6041,6041,19815,Regionalia Venezuela,Regionalia Venezuela,9X,9XX,None,Venezuela,Y
6042,6042,19827,Regionalia Chile,Regionalia Chile,9J,CR1,None,Chile,Y
6043,6043,19828,Vuela Cuba,Vuela Cuba,6C,6CC,None,Cuba,Y
6044,6044,19830,All Australia,All Australia,88,8K8,None,Australia,Y
6045,6045,19831,Fly Europa,None,ER,RWW,None,Spain,Y
6046,6046,19834,FlyPortugal,None,PO,FPT,FlyPortugal,Portugal,Y
6047,6047,19845,FTI Fluggesellschaft,None,None,FTI,None,Germany,N

In [8]:
df_airports = pd.read_sql_query("select * from airports;", conn)
df_routes = pd.read_sql_query("select * from routes;", conn)

In [9]:
df_airplines

,index,id,name,alias,iata,icao,callsign,country,active
0,0,1,Private flight,\N,-,None,None,None,Y
1,1,2,135 Airways,\N,None,GNL,GENERAL,United States,N
2,2,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
3,3,4,2 Sqn No 1 Elementary Flying Training School,\N,None,WYT,None,United Kingdom,N
4,4,5,213 Flight Unit,\N,None,TFU,None,Russia,N
5,5,6,223 Flight Unit State Airline,\N,None,CHD,CHKALOVSK-AVIA,Russia,N
6,6,7,224th Flight Unit,\N,None,TTF,CARGO UNIT,Russia,N
7,7,8,247 Jet Ltd,\N,None,TWF,CLOUD RUNNER,United Kingdom,N
8,8,9,3D Aviation,\N,None,SEC,SECUREX,United States,N
9,9,10,40-Mile Air,\N,Q5,MLA,MILE-AIR,United States,Y
10,10,11,4D Air,\N,None,QRT,QUARTET,Thailand,N
11,11,12,611897 Alberta Limited,\N,None,THD,DONUT,Canada,N
12,12,13,Ansett Australia,\N,AN,AAA,ANSETT,Australia,Y
13,13,14,Abacus International,\N,1B,None,None,Singapore,Y
14,14,15,Abelag Aviation,\N,W9,AAB,ABG,Belgium,N
15,15,16,Army Air Corps,\N,None,AAC,ARMYAIR,United Kingdom,N
16,16,17,Aero Aviation Centre Ltd.,\N,None,AAD,SUNRISE,Canada,N
17,17,18,Aero Servicios Ejecutivos Internacionales,\N,None,SII,ASEISA,Mexico,N
18,18,19,Aero Biniza,\N,None,BZS,BINIZA,Mexico,N
19,19,20,Aero Albatros,\N,None,ABM,ALBATROS ESPANA,Spain,N
20,20,21,Aigle Azur,\N,ZI,AAF,AIGLE AZUR,France,Y
21,21,22,Aloha Airlines,\N,AQ,AAH,ALOHA,United States,Y
22,22,23,Alaska Island Air,\N,None,AAK,ALASKA ISLAND,United States,N
23,23,24,American Airlines,\N,AA,AAL,AMERICAN,United States,Y
24,24,25,Aviation Management Corporation,\N,None,AAM,AM CORP,United States,N
25,25,26,Atlantis Airlines (USA),\N,None,AAO,ATLANTIS AIR,United States,N
26,26,27,Aerovista Airlines,\N,None,AAP,AEROVISTA GROUP,United Arab Emirates,N
27,27,28,Asiana Airlines,\N,OZ,AAR,ASIANA,Republic of Korea,Y
28,28,29,Askari Aviation,\N,4K,AAS,AL-AAS,Pakistan,Y
29,29,30,Australia Asia Airlines,\N,None,AAU,AUSTASIA,Australia,N
...,...,...,...,...,...,...,...,...,...
6018,6018,19651,CARICOM AIRWAYS (BARBADOS) INC.,CARICOM AIRWAYS,None,CCB,None,Barbados,Y
6019,6019,19674,Rainbow Air (RAI),Rainbow Air (RAI),RN,RAB,Rainbow,United States,Y
6020,6020,19675,Rainbow Air Canada,Rainbow Air CAN,RY,RAY,Rainbow CAN,Canada,Y
6021,6021,19676,Rainbow Air Polynesia,Rainbow Air POL,RX,RPO,Rainbow Air,United States,Y
6022,6022,19677,Rainbow Air Euro,Rainbow Air EU,RU,RUE,Rainbow Air,United Kingdom,Y
6023,6023,19678,Rainbow Air US,Rainbow Air US,RM,RNY,Rainbow Air,United States,Y
6024,6024,19745,Transilvania,None,None,TNS,None,Romania,Y
6025,6025,19751,Dobrolet,Добролёт,QD,DOB,DOBROLET,Russia,Y
6026,6026,19774,Spike Airlines,Aero Spike,S0,SAL,Spike Air,United States,Y
6027,6027,19776,Grand Cru Airlines,None,None,GCA,None,Lithuania,Y
6028,6028,19785,Go2Sky,None,None,RLX,RELAX,Slovakia,Y
6029,6029,19803,All Argentina,All Argentina,L1,AL1,None,Argentina,Y
6030,6030,19804,All America,All America,A2,AL2,None,United States,Y
6031,6031,19805,All Asia,All Asia,L9,AL3,None,China,Y
6032,6032,19806,All Africa,All Africa,9A,99F,None,South Africa,Y
6033,6033,19807,Regionalia México,Regionalia México,N4,J88,None,Mexico,Y
6034,6034,19808,All Europe,All Europe,N9,N99,None,United Kingdom,Y
6035,6035,19809,All Spain,All Spain,N7,N77,None,Spain,Y
6036,6036,19810,Regional Air Iceland,Regional Air Iceland,9N,N78,None,Iceland,Y
6037,6037,19811,British Air Ferries,None,??,??!,None,United Kingdom,N
6038,6038,19812,Voestar,Voestar Brasil,8K,K88,None,Brazil,Y
6039,6039,19813,All Colombia,All Colombia,7O,7KK,None,Colombia,Y
6040,6040,19814,Regionalia Uruguay,Regionalia Uruguay,2X,2K2,None,Uruguay,Y
6041,6041,19815,Regionalia Venezuela,Regionalia Venezuela,9X,9XX,None,Venezuela,Y
6042,6042,19827,Regionalia Chile,Regionalia Chile,9J,CR1,None,Chile,Y
6043,6043,19828,Vuela Cuba,Vuela Cuba,6C,6CC,None,Cuba,Y
6044,6044,19830,All Australia,All Australia,88,8K8,None,Australia,Y
6045,6045,19831,Fly Europa,None,ER,RWW,None,Spain,Y
6046,6046,19834,FlyPortugal,None,PO,FPT,FlyPortugal,Portugal,Y
6047,6047,19845,FTI Fluggesellschaft,None,None,FTI,None,Germany,N

In [10]:
df_airports.head()

,index,id,name,city,country,code,icao,latitude,longitude,altitude,offset,dst,timezone
0,0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10,U,Pacific/Port_Moresby
1,1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.7887,20,10,U,Pacific/Port_Moresby
2,2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10,U,Pacific/Port_Moresby
3,3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10,U,Pacific/Port_Moresby
4,4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.22005,146,10,U,Pacific/Port_Moresby

In [11]:
df_routes.head()

,index,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment
0,0,2B,410,AER,2965,KZN,2990,None,0,CR2
1,1,2B,410,ASF,2966,KZN,2990,None,0,CR2
2,2,2B,410,ASF,2966,MRV,2962,None,0,CR2
3,3,2B,410,CEK,2968,KZN,2990,None,0,CR2
4,4,2B,410,CEK,2968,OVB,4078,None,0,CR2

### Pandas persistence
#### install
- conda install openpyxl
- conda install XlsxWriter
- see more http://xlsxwriter.readthedocs.io/working_with_pandas.html

In [13]:
writer = pd.ExcelWriter('./data/df_routes.xlsx', engine='xlsxwriter')
df_routes.to_excel(writer, sheet_name='Sheet1')

In [15]:
df_routes.to_pickle("./data/df_routes.pickle")

In [16]:
df_routes_pickle = pd.read_pickle("./data/df_routes.pickle")
df_routes_pickle.head()

,index,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment
0,0,2B,410,AER,2965,KZN,2990,None,0,CR2
1,1,2B,410,ASF,2966,KZN,2990,None,0,CR2
2,2,2B,410,ASF,2966,MRV,2962,None,0,CR2
3,3,2B,410,CEK,2968,KZN,2990,None,0,CR2
4,4,2B,410,CEK,2968,OVB,4078,None,0,CR2

In [17]:
df_routes_pickle.describe()

              index
count  67663.000000
mean   33831.000000
std    19532.769969
min        0.000000
25%    16915.500000
50%    33831.000000
75%    50746.500000
max    67662.000000